.navbar{
	width: 1280px;
	height: 81px;
}
.main-list{
	margin-left: 332px;
	padding-top: 32px;
}
.main-list a{
	list-style: none;
	font-size: 18px;
	letter-spacing: 3px;
	color: #16a085;
	font-family: "Roboto", serif;
	font-weight: 900;
	text-decoration: none;
}
.main_menu {
    display: inline;
}
.first-point{
	margin-right: 65px;
}
.second-point{
	margin-right: 70px;
}
.third-point{
	margin-right: 78px;
}

.main-header{
	font-size: 22px;
	letter-spacing: 3px;
	color: #373737;
	font-family: "Roboto", serif;
	font-weight: 900;
	margin-top:59px;
	margin-left:342px;
	margin-bottom: 0;
}
.down-font {
	width: 1059px;
	height: 354px;
	font-size: 16px;
	letter-spacing: 2px;
	line-height:26px;
	color: #373737;
	font-family: "Roboto";
	font-weight: 900;
	text-align: center;
	margin-left:113px;
	margin-top: 34px;
	overflow: hidden;
}
.button{
	width: 192px;
	height: 51px;
	border-radius: 3px;
	background-color: #16a085;
	margin-top:40px;
	margin-left:526px;
	text-align:center;
	padding-top:24px;
}
.button h2{
	font-size:20px;
	letter-spacing:2px;
	line-height:0px;
	color: #ffffff;
	font-family: "Gotham Rounded", serif;
	font-weight: bold;
}
.footer-title{
	font-size:16px;
	letter-spacing:2px;
	color: #373737;
	font-family: "Roboto", serif;
	font-weight:900;
	margin-left:768px;
	margin-top:131px;
}




   
